body {
    background-color: #fff3e0;
}

/* navbar styles */
#logo {
    font-family: 'Rancho', cursive;
    font-size: 18px;
    color: #424242;
    text-shadow: 4px 4px 0px rgba(188, 188, 188, 0.1);
}

li a#logo {
    background-color: #ffe0b2;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 20px;
}

li a#logo:hover {
    background-color: #eceff1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffb74d;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Patua One', cursive;
    font-size: 20px;
}

.navbar li a:hover {
    background-color: #b0bec5;
}
